<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Schoology Functional Test Suite">

    <test name="createCourseTests">
        <classes>
            <class name="com.ps.tests.TestCreateCourse" />

        </classes>
    </test>

</suite>